@import "tailwindcss";

:root {
  --background: #030804;
  --foreground: #ededed;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  
  --color-beleqet-emerald: #00653B;
  --color-beleqet-dark: #041603;
  --color-beleqet-lime: #D8FF3E;
  --color-beleqet-slate: #0b120c;
  --color-beleqet-card: #0e170f;
  --color-beleqet-glass: rgba(255, 255, 255, 0.03);
  --color-beleqet-border: rgba(255, 255, 255, 0.08);
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}
